@model CourseGlossary.Models.ChapterViewModel

@{
    ViewBag.Title = "Create";
}
<div class="well">
    @using (Html.BeginForm("Create", "Chapter", FormMethod.Post, new { id = "createChapter", role = "form" }))
    {
        @Html.AntiForgeryToken()
        <fieldset>
            <legend>Create Chapter</legend>
            <div class="form-group">
                @Html.LabelFor(model => model.CourseId)<br />
                @Html.DropDownListFor(m => m.CourseId, Model.Courses, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.ChapterNumber)<br />
                @Html.EditorFor(model => model.ChapterNumber, new { @class = "form-control" })
            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.Title)<br />
                @Html.TextBoxFor(model => model.Title, new { @class = "form-control", @maxlength = "50" })
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
            @Html.ValidationSummary()
        </fieldset>
    }
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</div>
